<extends src='layout.html'>
  <block name='content'>

      <section id="slider" class="slider-element clearfix">

          <div class="section swiper_wrapper dark parallax nopadding nomargin noborder ohidden" style="background-image: url('../images/parallax/home/6.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
    
            <div class="container center">
              <div class="vertical-middle">
    
                <div class="emphasis-title">
                  <h1 class="t600 ls4 uppercase bottommargin-sm" style="font-size: 48px;">{{ dato.header[0].title }}</h1>
                  <p class="lead">{{ dato.header[0].subtitle }}</p>
                </div>
                <a href="#" class="button button-border button-dark button-circle" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">{{ dato.header[0].cta }}</a>
    
              </div>
            </div>
    
            <div class="video-wrap">
                <video poster="images/videos/3.jpg" preload="auto" loop autoplay muted>
                  <source src='images/videos/3.webm' type='video/webm' />
                  <source src='https://storage.googleapis.com/coverr-main/mp4/Coverr-Highrise.mp4' type='video/mp4' />
                </video>
                <div class="video-overlay" style="background: rgba(255,255,255,0.80);"></div>
              </div>
    
          </div>
    
        </section><!-- #slider end -->


		<!-- Content
		============================================= -->
		<section id="content">

    <div class="content-wrap nopadding">

				<div id="section-about" class="center page-section">

					<div class="container clearfix">

						<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">A digital web studio creating stunning &amp; engaging online experiences</h2>

						<p class="lead divcenter bottommargin" style="max-width: 800px;">Ford Foundation reduce child mortality fight against oppression refugee disruption pursue these aspirations effect. Free-speech Nelson Mandela change liberal; challenges of our times sustainability institutions.</p>

						<p class="bottommargin" style="font-size: 16px;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="icon-angle-right"></i></a></p>

						<div class="clear"></div>

						<div class="row topmargin-lg divcenter" style="max-width: 1000px;">
                <each loop='testimonial of dato.testimonial'>
                <div class="col-md-6 bottommargin">
                  <div class="team">
                    <div class="team-image">
                      <div class="video-responsive">
                        <iframe src="https://player.vimeo.com/video/{{ testimonial.video.providerUid }}?title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="team-desc team-desc-bg">
                      <div class="team-title"><h4>{{ testimonial.name }}</h4><span>{{ testimonial.title }}<strong> | </strong>{{ testimonial.company }}</span></div>
                    </div>
                  </div>
                </div>
                </each>

						</div>

					</div>

        </div>
      </div>
    </section>
  </block>
</extends>
