<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='{{ dato.home[0].seo.description }}'>
    <meta name='author' content='cdaniels87'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'>
      <title>{{ dato.home[0].seo.title }}</title>
    </block>
    <link rel='stylesheet' href='css/index.css'>
    <link rel="stylesheet" href="css/onepage.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
  </head>
  <body class="stretched">


          <!-- Header
          ============================================= -->
          <header id="header" class="full-header dark transparent-header static-sticky" data-sticky-class="not-dark" data-sticky-offset="0">
      
            <div id="header-wrap">
      
              <div class="container clearfix">
      
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      
                <!-- Logo
                ============================================= -->
                <div id="logo">
                  <a href="index.html" class="standard-logo" data-dark-logo="https://www.datocms-assets.com/6359/1530655012-white.png"><img src="https://www.datocms-assets.com/6359/1530655010-cmyk.png" alt="Canvas Logo"></a>
                  <a href="index.html" class="retina-logo" data-dark-logo="https://www.datocms-assets.com/6359/1530655010-white-2x.png"><img src="https://www.datocms-assets.com/6359/1530655003-cmyk-2x.png" alt="Canvas Logo"></a>
                </div><!-- #logo end -->
      
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
      
                  <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                    <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
                    <li><a href="#" data-href="#section-about"><div>About</div></a></li>
                    <li><a href="#" data-href="#section-works"><div>Works</div></a></li>
                    <li><a href="#" data-href="#section-services"><div>Services</div></a></li>
                    <li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>
                    <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
                  </ul>
      
                </nav><!-- #primary-menu end -->
      
              </div>
      
            </div>
      
          </header><!-- #header end -->

      <block name='content'></block>

    <block name='javascript'>
      <script src='js/main.js' defer></script>
    </block>
  </body>
</html>
